################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/swSeguridad/.vs/swSeguridad/v15/Server/sqlite3
